In [2]:
import pandas as pd
import numpy as np

In [3]:
# read excel files 
clinical_data = pd.read_excel('/Users/saifahmed/development/ESCC/data/GSE53622_clinical_data_of_patients_independent_set.xlsx', index_col=0)
lncRNA_data = pd.read_excel('/Users/saifahmed/development/ESCC/data/GSE53622_lncRNA_relative_expression_value_independent_set.xlsx', index_col=0)

In [4]:
clinical_data.head()

,Age,Sex,Tobacco use,Alcohol use,Tumor location,Tumor grade,T stage,N stage,TNM stage,Arrhythmia,Pneumonia,Anastomotic leak,Adjuvant therapy,Death at FU,Survival time(months)
Patient ID,,,,,,,,,,,,,,,
ec302,66.460274,female,no,no,middle,moderately,T3,N2,III,no,no,no,yes,yes,11.633333
ec303,64.013699,male,yes,yes,middle,moderately,T3,N0,II,yes,no,no,no,no,58.200000
ec305,50.912329,male,yes,yes,middle,moderately,T3,N0,II,no,no,no,yes,yes,39.166667
ec306,46.328767,male,yes,yes,lower,moderately,T3,N0,II,yes,no,no,no,no,57.733333
ec308,54.479452,male,yes,yes,middle,moderately,T3,N1,III,yes,no,no,yes,yes,10.966667

In [5]:
lncRNA_data.head()

,ec302,ec303,ec305,ec306,ec308,ec309,ec311,ec312,ec315,ec316,...,ec398,ec400,ec402,ec403,ec404,ec405,ec406,ec407,ec408,ec409
ID,,,,,,,,,,,,,,,,,,,,,
ENST00000230113.3,0.95164,-0.43897,0.66432,0.39730,1.10374,0.12260,-1.40019,-0.41930,-0.33318,0.04630,...,0.43920,-0.29970,0.49900,-1.18040,0.75880,-1.60290,0.33310,0.22430,0.61914,-0.25640
ENST00000244820.2,3.66153,0.00000,3.69433,1.05375,0.00000,-0.22875,0.00000,0.26928,0.00000,0.00000,...,3.45400,-0.68127,0.21610,-0.09159,0.65498,-0.15942,0.16950,1.47449,-0.25961,4.00832
ENST00000244906.6,0.39562,-0.27769,0.05076,-0.35950,0.12267,-0.81289,-0.22533,-0.05881,-0.45828,-0.91320,...,0.23748,0.32698,0.32148,-0.61898,1.33044,-0.46716,0.27219,-0.78337,0.02694,-0.22989
ENST00000253470.4,0.72692,0.21743,0.29066,0.53577,0.44644,0.37408,0.46402,0.56782,0.47892,0.45962,...,-0.03028,0.23748,-0.44862,1.15225,0.46079,-0.06750,0.13804,-0.04978,0.14228,0.85210
ENST00000258817.2,1.62555,0.26386,-0.83020,-0.12628,1.23647,1.98821,0.78603,-0.68808,0.99714,0.57320,...,-0.57038,0.49780,0.59024,-0.30841,-0.59430,0.19398,0.70581,0.44370,0.94215,4.39840

In [6]:
clinical_data.columns

Index(['Age', 'Sex', 'Tobacco use', 'Alcohol use', 'Tumor location',
       'Tumor grade', 'T stage', 'N stage', 'TNM stage', 'Arrhythmia',
       'Pneumonia', 'Anastomotic leak', 'Adjuvant therapy', 'Death at FU',
       'Survival time(months)'],
      dtype='object')

In [7]:
clinical_data.index

Index(['ec302', 'ec303', 'ec305', 'ec306', 'ec308', 'ec309', 'ec311', 'ec312',
       'ec315', 'ec316', 'ec317', 'ec318', 'ec319', 'ec321', 'ec322', 'ec324',
       'ec325', 'ec326', 'ec330', 'ec331', 'ec333', 'ec334', 'ec337', 'ec338',
       'ec340', 'ec341', 'ec342', 'ec347', 'ec353', 'ec355', 'ec361', 'ec362',
       'ec365', 'ec366', 'ec367', 'ec370', 'ec371', 'ec373', 'ec374', 'ec375',
       'ec376', 'ec378', 'ec380', 'ec381', 'ec382', 'ec385', 'ec391', 'ec392',
       'ec393', 'ec396', 'ec398', 'ec400', 'ec402', 'ec403', 'ec404', 'ec405',
       'ec406', 'ec407', 'ec408', 'ec409'],
      dtype='object', name='Patient ID')